<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/Estilo.css')}}">
    <title>Editar Tarea</title>
</head>
<body>
    <div class="content">   
        <form action="{{ url_for('editar_tarea', id=tarea['ID_Tarea']) }}" method="POST">
            <h2>Editar Tarea</h2> 

            <label for="nombre_tarea">Nombre:</label>
            <input type="text" id="nombre_tarea" name="nombre_tarea" value="{{ tarea['Nombre'] }}" required><br><br>
            
            <label for="fecha_inicio">Fecha de inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ tarea['Fecha_Inicio'] }}" required><br><br>
            
            <label for="fecha_fin">Fecha de fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" value="{{ tarea['Fecha_Fin'] }}" required><br><br>
            
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" required>
                <option value="Por asignar" {% if tarea['Estado'] == 'Por asignar' %}selected{% endif %}>Por asignar</option>
                <option value="En proceso" {% if tarea['Estado'] == 'En proceso' %}selected{% endif %}>En proceso</option>
                <option value="Terminado" {% if tarea['Estado'] == 'Terminado' %}selected{% endif %}>Terminado</option>
            </select><br><br>
            
            <button id="Guardar_cambios" type="submit">Guardar cambios</button>
        </form>
    </div>
</body>
</html>
